
html, body {
  box-sizing: border-box; 
  width: 100%;
  height: 100%;
}

h1 {
  color: #4169e1;
  text-align: center;
  background-color: #ffe4c4;
}

h2 {
  background-color: #ffe4c4;
  width: 100%;
  text-align: center;
  padding: 20px;
}

figure {
  max-width: 90vw;
}

figcaption {
  background-color: #ffe4c4;
  text-align: left;
}

.onClickSearch {
  background-color: #808080;
  font-size: 0.3 em;
  line-height: 4.8px;
  text-decoration: none;
  color: #007f00;
}

.onClickSearch:hover {
  color: #ff0000;
}

img {
  height: 450px;
  width: 300px;
}

.selected {
  background-color: #00b7ff;
  min-width: 100vw;
}

.selectedHeader {
  width: 45vw;
}

.side {
  position: relative;
  left: 20px;
}

.mapComponent {
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
}

.backLink {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./back.svg');
}

@media only screen and (min-width: 700px) {
  .side {
    position: absolute;
    top: 150px;
    left: 50%;
  }

  figure {
    min-width: 45vw;
  }

  h2 {
    text-align: left;
  }

  .rightSide {
    width: 20%;
    float: right;
  }
}